.flex-container{
    display: flex;
    gap: 20px;
    padding: 40px;
    background-color: #f1f1f1;
    min-height: 100vh;
    align-items: middle;
}

.flex-item{
    padding: 20px;
    box-sizing: border-box;
}

.border{
    background-color: #f1f1f1; 
    color: white;
    flex: 1;
}

.item-1 {
    display: flex;
    background-color: #6a9bbf; 
    color: white;
    flex: 2;
    gap: 20px;
    flex-direction: column;
}

.item-2 {
    display:flex;
    background-color: #ff9a8b; 
    color: white;
    flex: 4;
    flex-direction: column;
    gap: 20px;
}

.item-1-children{
    background-color: #ff9a8b; 
    color: white;
    flex: 1;
}

.item-2-children{
    background-color: #6a9bbf; 
    color: white;
    flex: 1;
}
