.flex-container{
    display: flex;
    gap: 20px;
    padding: 40px;
    background-color: #e4e4e4;
    min-height: 100vh;
    align-items: middle;
}

.flex-item{
    padding: 20px;
    box-sizing: border-box;
}

.border{
    background-color: #e4e4e4; 
    color: black;
    flex: 0.8;
}

.item-1 {
    display: flex;
    background-color: #f4ece6; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
    flex: 2;
    gap: 20px;
    flex-direction: column;
    border-radius: 10px;
}

.item-2 {
    display:flex;
    background-color: #e4e4e4; 
    flex: 4;
    flex-direction: column;
    gap: 20px;
}

.item-1-children{
    color: black;
    flex: 1;
}

.item-2-children{
    background-color: #ffffff; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
    flex: 1;
    border-radius: 10px;
}